.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}



.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content_payment {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 275px;
    width: 400px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content_payment.active {
    transform: scale(1);
}

.login2 {
    position: relative;
    bottom: 95px;

    &__logo {
        font-family: 'Poppins', sans-serif;
        color: #101828;
        font-size: 25px;
        line-height: 60px;
        text-align: center;
    }

    input:placeholder {
        color: #101828;
    }

    display: flex;
    justify-content: center;

    &__items {
        margin-top: 100px;

        span {
            color: red;
        }

        .btn {
            display: flex;
            justify-content: center;
        }

        .submit {
            font-family: 'Poppins', sans-serif;

            margin-top: 10px;
            border: 0;
            padding: 10px 50px;
            background: #101828;
            border-radius: 8px;
            color: #F2F2F2;
            margin-bottom: 20px;
        }

        .submit:active {
            background: #1E6F9F;
            box-shadow: 0 5px #666;
            transform: translateY(3px);
        }

    }

    input {
        font-family: 'Work Sans';
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 345px;
        height: 45px;
        display: block;
        border: 2px solid #0D0D0D;
        border-radius: 10px;
        color: #101828;
    }

    input:placeholder-shown {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #1E6F9F;
    }

    p {
        font-family: 'Poppins', sans-serif;

        font-weight: 600;
        font-size: 14px;
        color: red;
    }

    b {
        font-family: 'Poppins', sans-serif;

    }

    b>span {
        font-family: 'Poppins', sans-serif;

    }

    .payment {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 16px;
        padding: 3px;
        text-align: center;
        border-radius: 8px;
        width: 345px;
        height: 18px;
        margin-bottom: 10px;
        background: #fff;
    }

    .material-symbols-outlined {
        margin-bottom: 8px;
    }

}



@media(max-width:450px) {
    .login2 input {
        margin: 0 auto;
        width: 300px;
        margin-bottom: 15px;
    }

    .modal__content_payment {
        width: 330px;
    }

    .login2 input:placeholder-shown {
        font-size: 14px;
    }
}


@media(max-width:370px) {
    .login2 .payment {
        width: 300px;
    }

    .modal__content_payment {
        width: 300px;
    }
}


@media(max-width:345px) {
    .login__logo {
        font-size: 21px;
    }

    .login2 input:placeholder-shown {
        font-size: 13px;
    }

    .modal__content_payment {
        padding: 15px;
    }

    .login2 input {
        width: 280px;
    }
}