.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 450px;
    width: 400px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}

.login {
    position: relative;
    bottom: 30px;

    &__logo {
        font-family: 'Poppins', sans-serif;
        color: #101828;
        font-size: 25px;
        line-height: 60px;
        text-align: center;
    }

    input:placeholder {
        color: #101828;
    }

    display: flex;
    justify-content: center;

    &__items {
        margin-top: 100px;

        span {
            color: red;
        }

        .btn {
            display: flex;
            justify-content: center;
        }

        .submit {
            font-family: 'Poppins', sans-serif;

            margin-top: 10px;
            border: 0;
            padding: 10px 50px;
            background: #101828;
            border-radius: 8px;
            color: #F2F2F2;
            margin-bottom: 20px;
        }

        .submit:active {
            background: #1E6F9F;
            box-shadow: 0 5px #666;
            transform: translateY(3px);
        }

    }

    input {
        font-family: 'Work Sans';
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 345px;
        height: 45px;
        display: block;
        border: 2px solid #0D0D0D;
        border-radius: 10px;
        color: #101828;
    }

    input:placeholder-shown {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #1E6F9F;
    }

    p {
        font-family: 'Poppins', sans-serif;

        font-weight: 600;
        font-size: 14px;
        color: red;
    }

    b {

        font-family: 'Poppins', sans-serif;

    }

    b>span {
        font-family: 'Poppins', sans-serif;

    }
}

.login b {
    display: flex;
    justify-content: center;
}

@media(max-width:470px) {
    .login__logo {
        font-size: 23px;
    }

    .login input {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 12px;
    }

    .modal__content {
        padding: 12px;
        width: 350px;
    }

    .login b {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .login__items span {
        display: flex;
        justify-content: center;
    }

    .title {
        text-align: center;
    }
}


@media(max-width:375px) {
    .modal__content {
        height: 460px;
        width: 310px;
    }

    .login input:placeholder-shown {
        font-size: 14px;

    }

    .login input {
        width: 270px;
    }
}